<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include("header.ejs") %>
  <div class="container text-center">
    <h1><%= result.chapter_number %></h1>
    <h2><%= result.name %></h2>
    <p class="lead"><%= result.name_meaning %></p>
    <p class="lead">  <%= result.chapter_summary %></p>

  </div>
  
</body>
</html>